--
-- PostgreSQL database dump
--

\restrict Fz6WYYBMgraNbGw1mnTHfdZGrdpDfNpfDh3PFdusvKzujjVwiT5o0bjlDdXinqz

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: prevent_audit_mutation(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_audit_mutation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  RAISE EXCEPTION 'Audit logs are immutable';
END;
$$;


ALTER FUNCTION public.prevent_audit_mutation() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    audit_id uuid NOT NULL,
    event_type text NOT NULL,
    consent_id text NOT NULL,
    user_id text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    details jsonb NOT NULL,
    prev_hash text,
    hash text NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: consents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consents (
    consent_id uuid NOT NULL,
    user_id text NOT NULL,
    purpose text NOT NULL,
    data_types jsonb NOT NULL,
    valid_until date NOT NULL,
    status text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    consent_group_id text NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    approval_token text,
    approval_expires_at timestamp without time zone
);


ALTER TABLE public.consents OWNER TO postgres;

--
-- Name: consents approval_token_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consents
    ADD CONSTRAINT approval_token_unique UNIQUE (approval_token);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (audit_id);


--
-- Name: consents consents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consents
    ADD CONSTRAINT consents_pkey PRIMARY KEY (consent_id);


--
-- Name: uniq_active_consent_per_purpose; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uniq_active_consent_per_purpose ON public.consents USING btree (user_id, purpose) WHERE (status = 'ACTIVE'::text);


--
-- Name: audit_logs audit_no_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_no_update BEFORE DELETE OR UPDATE ON public.audit_logs FOR EACH ROW EXECUTE FUNCTION public.prevent_audit_mutation();


--
-- Name: TABLE audit_logs; Type: ACL; Schema: public; Owner: postgres
--

REVOKE ALL ON TABLE public.audit_logs FROM postgres;
GRANT SELECT,INSERT,REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLE public.audit_logs TO postgres;


--
-- PostgreSQL database dump complete
--

\unrestrict Fz6WYYBMgraNbGw1mnTHfdZGrdpDfNpfDh3PFdusvKzujjVwiT5o0bjlDdXinqz

